/* * {
    box-sizing: border-box;
} */
body{
    margin: 0;
}

/*++++++ SOCIAL MENU ICONS WITH A KEYFRAME ++++++*/
.social-bar-main {
    top: 1%;
    position: fixed;
    width: 100%;
}
.social-bar-cont {
    width: 100%;
    text-align: center;
}
.social-bar-cont a {
    font-size: 32px;
}
.fa {
  color: rgb(53, 53, 53);
  width: 45px;
  text-decoration: none;
  margin: 6px 6px;
}
.fa-linkedin:hover {
    color:#0077b5;
    animation: socialLink 1s 1;
}
.fa-youtube:hover {
    color:#b31217;
    animation: socialYou 1s 1;
}
.fa-instagram:hover {
    color:#5f95c2 ;
    animation: socialInsta 1s 1;
}
@keyframes socialLink{
    from  { transform: rotateY(0deg);}
    to { transform: rotateY(-360deg);}  
}
@keyframes socialYou {
    from  { transform: rotateY(0deg);}
    to { transform: rotateY(-360deg);}  
}
@keyframes socialInsta {
    from  { transform: rotateY(0deg);}
    to { transform: rotateY(-360deg);}   
}

/*++++++ MAIN PAGE STYLES ++++++*/
.main-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 65%;
    overflow: hidden;
    text-align: center;
    /* border: solid 1px blue; */
}
.main-content-wrap {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95%;
    margin: auto;
    /* border: solid 1px red; */
}
#main-svg-cont {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    fill: white;
    background-image: url("../images/robgif.gif");
    background-color: #545454e9;
    background-size: cover;
    background-blend-mode: lighten;
    width: 45%;
}

/*++++++ MAIN MENU STYLES - ICONS ONLY ++++++*/
.menu-iconbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu-iconbar-cont {
    width: 100%;
    text-align: center;
}
.menu-iconbar-cont a {
    text-decoration: none;
}
#cowbell, #drumtop, #sticks, #cymbal {
    text-align: center;
    padding: 20px;
    width: 6%;
    height: 6%;
    /* stroke: black;
    stroke-width: 1px; */
}
