/*++++++ FONT FAMILIES ++++++*/
/* font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Fredericka the Great', cursive; */

body{
    margin: 0;
}

/*++++++ SOCIAL MENU ICONS WITH A KEYFRAME ++++++*/
.social-bar-main {
    top: 1%;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* border: solid 1px green; */
}
.social-bar-cont {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    /* border: solid 1px red; */
}
.social-bar-cont a {
    font-size: 32px;
}
.fa {
  color:#1f1f1f;
  width: 45px;
  text-decoration: none;
  margin: 6px 6px;
}
.fa-linkedin:hover {
    color:#0077b5;
    animation: socialLink 1s 1;
}
.fa-youtube:hover {
    color:#b31217;
    animation: socialYou 1s 1;
}
.fa-instagram:hover {
    color:#5f95c2;
    animation: socialInsta 1s 1;
}
@keyframes socialLink{
    from  {text-shadow: 0 0 22px #0077b5;}
    to {}  
}
@keyframes socialYou {
    from  {text-shadow: 0 0 22px #b31217;}
    to {} 
}
@keyframes socialInsta {
    from  {text-shadow: 0 0 22px #5f95c2;}
    to {}   
}

/*++++++ MAIN PAGE STYLES ++++++*/
.main-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 75%;
    overflow: hidden;
    text-align: center;
    /* border: solid 1px blue; */
}
.main-content-wrap {
    position: relative;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    /* border: solid 1px red; */
}
#main-svg-cont {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* background-image: url("../images/robgif.gif"); */
    /* background-color: #545454e9; */
    background-size: cover;
    background-blend-mode: lighten;
    width: 45%;
    /* border: solid 1px black; */
}

/*++++++ MAIN MENU STYLES - ICONS ONLY ++++++*/
.menu-iconbar {
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: solid 1px red; */
}
.menu-iconbar-cont {
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    /* border: solid 1px green; */
}
.menu-iconbar-cont a {
    text-decoration: none;
    /* border: solid 1px blue; */
}
#cowbell, #drumtop, #sticks, #cymbal {
    text-align: center;
    padding: 0 16px 0 16px;
    width: 4%;
    stroke: black;
    stroke-width: 1px;
    /* border: solid 1px orange; */
}

/*++++++ CONTACT FORM STYLES ++++++*/
h1 {
    font-family: 'Fredericka the Great', cursive;
}
label {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: bold;
}
input {
    width: 45%;
    padding: 12px 6px;
    margin: 8px 0;
}
textarea {
    width: 45%;
    padding: 6px 6px;
    margin: 8px 0;
}
input[type=submit] {
    width: 45%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: wheat;
    font-size: 24px;
    background-color: rgb(47, 99, 177);
}
input[type=submit]:hover {
    background-color: rgb(28, 68, 128);
    cursor: pointer;
}