@media only screen and (max-width: 50px) {
    .main-content {
        margin-top: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .main-content {
        margin-top: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .main-content {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    .main-content {
        margin-top: 10%;
    }
}