@media screen and (max-width: 580px) {
    input {
        width: 75%;
    }
    textarea {
        width: 75%;
    }
    input[type=submit] {
        width: 55%;
    }
    #cowbell, #drumtop, #sticks, #cymbal {
        width: 8%;
    }
}