/*++++++ ROBDRUMS INIT SVG STYLES ++++++*/
.main-coverpage {
    padding: 15%;
}
.main-logo-cont {
    text-align: center;
}
#main-svg-cont {
    height: 65%;
    width: 65%;
    opacity: 0.8;
}
#main-svg-cont:hover {
    animation: robdrumsLogo 0.2s infinite;
}

@keyframes robdrumsLogo {
    50%  { margin-right: 45px; fill: rgb(62, 62, 173) }
    100%  { margin-left: 45px; fill:rgb(184, 63, 63) }
}