/*++++++ ROBDRUMS LOGO MASK STYLES - MAIN PAGE ++++++*/
/* #outer { opacity: 0.5; }
#inner-major { opacity: 0.5; }
#in-drum-major { opacity: 0.5; }
#b-bottom { opacity: 0.5; }
#b-top { opacity: 0.5; }
#r-top { opacity: 0.5; }
#r2-top { opacity: 0.5; }
#o-center { opacity: 0.5; }
#d-center { opacity: 0.5; }
#r-center { opacity: 0.5; }
#d-center { opacity: 0.5; } */
/* #inner-major, #in-drum-major, #b-bottom, #b-top, #r-top, #r2-top, #o-center,#d-center, #r-center, #d-center:hover {
    animation: logoAction 1s 1;
}
#inner-major, #in-drum-major {
    animation: logoAction 1s forwards;
}
animation: logoAction 5s forwards;
@keyframes logoAction{
    50%   { opacity: 0; }
  100%   { opacity: 1; }
} */

/*++++++ MAIN MENU SVG ANIMATIONS ++++++*/
#cowbell:hover {
    -webkit-animation: cowBell 0.2s 3;
            animation: cowBell 0.2s 3;
}
@-webkit-keyframes cowBell{
    50%  { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
    100%  { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
}
@keyframes cowBell{
    50%  { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
    100%  { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
}
#drumtop:hover {
    -webkit-animation: drumTop 0.3s 2;
            animation: drumTop 0.3s 2;
}
@-webkit-keyframes drumTop {
    100% { -webkit-transform: scale(0.8); transform: scale(0.8); }
}
@keyframes drumTop {
    100% { -webkit-transform: scale(0.8); transform: scale(0.8); }
}
#sticks:hover {
    -webkit-animation: sticksSpin 0.5s 1;
            animation: sticksSpin 0.5s 1;
}
@-webkit-keyframes sticksSpin {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes sticksSpin {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
#cymbal:hover {
    -webkit-animation: cymbalShake 0.2s 2;
            animation: cymbalShake 0.2s 2;
}
@-webkit-keyframes cymbalShake {
    50%  { -webkit-transform: rotateX(60deg); transform: rotateX(60deg);}
   100% { -webkit-transform: rotateX(-60deg); transform: rotateX(-60deg);}  
}
@keyframes cymbalShake {
    50%  { -webkit-transform: rotateX(60deg); transform: rotateX(60deg);}
   100% { -webkit-transform: rotateX(-60deg); transform: rotateX(-60deg);}  
}